# PostgreSQL Neon Connection String
DATABASE_URL="postgresql://neondb_owner:npg_placeholder@ep-cool-fog-12345.us-east-2.aws.neon.tech/feirae?sslmode=require"
DIRECT_URL="postgresql://neondb_owner:npg_placeholder@ep-cool-fog-12345.us-east-2.aws.neon.tech/feirae?sslmode=require"

# Mercado Pago Sandbox Credentials
MERCADO_PAGO_ACCESS_TOKEN="TEST-0000000000000000-000000-00000000000000000000000000000000-000000000"
NEXT_PUBLIC_MERCADO_PAGO_PUBLIC_KEY="TEST-00000000-0000-0000-0000-000000000000"

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
